body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

header {
display: flex;
background-color: #fff;
color: #333;
padding: 10px;
text-align: center;
justify-content: space-between;
}

nav {
background-color: #938473;
color: #fff;
padding: 10px;
list-style: none;
text-decoration: none;
text-align: center;
}

nav a {
text-decoration: none;
color: #fff;
}  

.contanier{
    border: 10px solid #333;
}
.contanier .mapp h1, h2, h3, p{
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    }
    
    footer .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    }
    
    footer .row .col {
    display: flex;
    align-items: center;
    }
    
    ul li {
    list-style-type: none;
    font-size: 18px;
    padding-bottom: 10px;
    }
    
    ul li a {
    text-decoration: none;
    color: white;
    }