* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .home {
    background-image:url(/volvo.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .navbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    color: #000;
    padding: 25px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .links a:hover {
    background-color: #d5d5d5;
  }
  
  .text-home {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 100px;
  }


  .text-home-container {
    color: #fff;
  }
  
  .text-home-container h1 {
    font-size: 70px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .home-btn {
    width: 40%;
  }
  
  .home-btn button {
    padding: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    background-color: gray;
    border: none;
  }
  
  .home-btn button:hover {
    background-color: rgb(180, 180, 180);
  }
  
  /* about */
  .about-boxes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
  
  .center-title {
    text-align: center;
    margin: 30px 0;
  }
  
  .about-box {
    padding: 15px;
    width: 20%;
  }
  
  .about-box i {
    margin: 15px 0;
    font-size: 60px;
  }
  
  
  #weKnowDesign {
    background-color: #d5d5d5;
    padding: 50px;
    margin: 50px 0;
  }
  
  .weKnow-container {
    display: flex;
    justify-content: space-around;
  }
  
  .weKnow-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }
  
  .weKnow-btn {
    width: 40%;
  }
  
  .weKnow-btn button {
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 15px;
  }
  
  .weKnow-btn button:hover {
    background-color: gray;
    color: #000;
  }
  
  /* team */
  .team-boxes {
    display: flex;
    justify-content: center;
  }
  
  .team-box {
    width: 23%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .team-box img {
    width: 100%;
  }
  
  .team-box-desc {
    padding: 10px;
  }
  
  .team-box-desc h3 {
    margin: 15px 0;
  }
  
  .team-btn {
    width: 100%;
  }
  
  .team-btn button {
    border: none;
    background-color: #e0e0e0;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0 0 0;
  }
  
  .team-btn button:hover {
    background-color: #ccc;
  }

  #partners {
    padding: 30px 0;
    margin: 30px 0;
    background-color: #616161;
  }
  
  .partners-boxes {
    display: flex;
    justify-content: space-around;
  }
  
  .partnes-box {
    width: 24%;
    color: #fff;
    margin: 20px;
    text-align: center;
  }
  
  /* work */
  .work-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .work-grid img {
    width: 23%;
    margin: 10px;
  }
  
  /* skill */
  .skill-bg {
    background-color: #9e9e9e;
    width: 100%;
    margin: 15px 0;
  }
  
  .skill-fg {
    background-color: #616161;
    text-align: center;
  }
  
  .skills-container {
    display: flex;
    background-color: #f1f1f1;
    padding: 50px 0;
  }
  
  .skills-skill {
    width: 50%;
    margin: 0 20px;
  }
  
  .skills-text {
    margin: 0 20px;
    width: 45%;
  }
  
  .skills-skill span {
    margin: 10px 0;
  }
  
  /* pricing */
  .heroBanner {
    padding: 50px 0;
  }
  