body {
  background-color: #fff;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1300px;
  padding: 0 40px;
  margin: auto;
}
.logo {
  text-align: center;
}
.logo span {
  font-size: 14px;
}
.logo h3 {
  color: #fff;
  font-size: 22px;
  line-height: 18px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
#nav {
  background-color: #0e0e11;
}
.estProject a {
  color: #0e0e11;
  text-decoration: none;
}
.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.navbar-links img{
  height: 60px;
  width: 130px;
}
.navbar-links .middle-navLinks a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  transition: 0.3s linear;
}
.navbar-links .middle-navLinks a:hover {
  color: #ce8578;
}
.navbar-active-link {
  color: #ce8578 !important;
}